h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    background-color: cornsilk;

}

.strong {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}